* {
    box-sizing: border-box;
    margin: 0;
}


.container {
    border: 40px solid black;
    height: 900px;
    display: flex;
    direction: column;
}

.container-parcours {
    /* background-color: blue; */
    border: 1px solid black;
    width: 50%;
}

.container-formation {
    /* background-color: red; */
    width: 50%;
    border: 1px solid black;
}