.contenu h2 {
    font-size: 2vw;
    color: white;
    padding-left: 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 30%;
}



ul li button a {
    color: rgb(201, 219, 39);
    text-decoration: none;
}




.contenu {
    width: 100%;
    height: 500px;
    background-image: url('../Assets/couverture.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-self: flex-start;
}


footer {
    background-color: green;
    min-height: 2vh;
    width: 100%;
    margin: auto;
    padding: 2 rem;

}

.frame_footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.frame_footer ul li {
    font-size: 1rem;
}

.frame_footer ul:nth-child(2) {
    display: flex;
    margin-right: 10px;
    list-style: none;
}

.frame_footer ul:nth-child(2) li {
    margin-right: 80px;
}