/* CSS Header */
header nav ul li a:hover {
    text-decoration: none;
}

/* index css */
.contenu {
    background-size: 100% 100%;
}


.contenu h2 {
    font-size: 1rem;
}

/*  footer */
footer {
    background-position: 50%;
    min-height: 3vh;
    width: 100%;
    margin: auto;
    padding: 10 rem;
}


.frame_footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.frame_footer ul:nth-child(2) li {
    display: flex;
    margin-right: 0px;
}

.frame_footer ul li {
    font-size: 13px;
}

/* CSS for quisuisje */
.grid2r2c {
    display: grid;
    grid-template-rows: 300px 300px 300px 300px;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    grid-template-columns: 1fr;
    /* grid-auto-flow: column; */
}

h1 {
    font-size: 14px;
}


h2 {
    font-size: 14px;
}

h3 {
    font-size: 12px;
}

#section_parcours {
    grid-row-start: 2;
}

.frame-main {
    height: 1200px;
}

.img-coppaitalia {
    height: 90px;
    width: 100px;

}

.img-UAE {
    height: 90px;
    width: 100px;
}

.img-championL {
    height: 90px;
    width: 100px;
}

.img-copparey {
    height: 90px;
    width: 100px;
}

.img-mali {
    height: 90px;
    width: 100px;
}

.img-JO {
    height: 90px;
    width: 100px;
}

.img-intermilan {
    height: 90px;
    width: 100px;
}


.img-fcb {
    height: 90px;
    width: 100px;
}

.img-rcd {
    height: 90px;
    width: 100px;
}


.img-cadets {
    height: 50px;
    width: 80px;
}

.img-kadji {
    height: 50px;
    width: 80px;
}


.img-hac {
    height: 50px;
    width: 80px;
}


.img-francais {
    height: 60px;
    width: 80px;
}


.img-anglais {
    height: 60px;
    width: 80px;
}


.img-espagnol {
    height: 60px;
    width: 80px;
}