.debug {
    border: 1px solid red;
}

p,
h1,
h2,
h3 {
    color: var(--color-text);
}


.container-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


.main-container {
    border: 30px solid black;
    font-family: var(--font);
    height: 100vh;
    width: 100vw;
}



header {
    /* width: 100%; */
    height: 100px;
    border: 2px solid red;
    background-color: blue;
}


footer {
    /* width: 100%; */
    height: 50px;
    border: 2px solid red;
    background-color: blue;
}

.main-frame {
    width: 100%;
    height: calc(100vh - 100px - 50px - 30px);
    /* height: 500px; */
}

/* .onglet {
    border-radius: 10px 10px 0 0;
    background-color: var(--bgcolor-onglet);
    padding: 10px;
    text-align: center;
    width: 25%;
    font-weight: bold;
    opacity: 70%;
    font-size: 20px;
} */

.onglet {
    border-radius: 10px 10px 0 0;
    background-color: var(--bgcolor-onglet);
    opacity: 70%;
    font-size: 20px;
}



.frame-palmares-parcours {
    border-radius: 0px 10px 10px 10px;
    background-color: var(--bgcolor-frame-parcours-palmares);

    /* opacity: 25%; */
    height: 93%;
}

.frame-formations-langues {
    border-radius: 0px 10px 10px 10px;
    background-color: var(--bgcolor-frame-formations-langues);
    height: 93%;
}


.grid-palmares-logo {
    display: grid;
    height: 80%;

    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    /* border: 5px solid blue; */
    grid-gap: 5px;
}

.img-coppaitalia {
    background-size: 100% 100%;
    /* background-repeat: no-repeat; */
    background-image: url(/Assets/coppaitalia.png);
}

.img-UAE {
    background-size: 100% 100%;
    background-image: url("/Assets/Coupe_du_monde_des_clubs_de_football_2010.png");
}

.img-championL {
    background-size: 100% 100%;
    background-image: url("/Assets/Cl2009_logo.png");
}

.img-copparey {
    background-size: 100% 100%;
    background-image: url("/Assets/Logo_Copa_del_Rey_2021.png");
}

.img-mali {
    background-size: 100% 100%;
    background-image: url("/Assets/CANMALI.png");

}

.img-JO {
    background-size: 100% 100%;
    background-image: url("/Assets/JO_2000.png");
}


.bandeau-palmares {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* margin-bottom: 100px; */
}

.bandeau-palmares h1 {
    /* background-color: #178E23; */
    /* margin: 40px; */
    color: var(--bgcolor-onglet);
    font-size: 20px;
}

.bandeau-palmares> :first-child {
    display: inline-block;
    /* modèle de boîte en ligne */
    padding-right: 2em;
    /* un peu d'espace pour la transition */
    padding-left: 100%;
    /* placement à droite du conteneur */
    white-space: nowrap;
    /* pas de passage à la ligne */
    animation: defilement-rtl 30s infinite linear;
}

@keyframes defilement-rtl {
    0% {
        transform: translate3d(0, 0, 0);
        /* position initiale à droite */
    }

    100% {
        transform: translate3d(-100%, 0, 0);
        /* position finale à gauche */
    }
}

/* Grid Parcours */
.grid-parcours {
    display: grid;
    height: 100%;
    grid-template-rows: 4fr 3fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    /* border: 5px solid blue; */
    grid-gap: 5px;
}


.grid-img-parcours-intermilan {
    background-size: 100% 100%;
    background-image: url("/Assets/interMilan.jpeg");
}


.grid-img-parcours-fcb {
    /* border: 2px solid red; */
    /* background-size: cover; */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("/Assets/logo-Barcelone.png");
}

.grid-img-parcours-rcd {
    /* border: 2px solid red; */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("/Assets/RCD.png");
}


.grid-parcours-club {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.grid-parcours-buts {
    display: flex;
    justify-content: space-around;
    /* border: 1px solid red; */
    align-items: center;

}

.grid-parcours-buts h2 {
    color: white;
    margin-right: 30px;
}

.grid-parcours-buts-ballon {
    width: 60px;
    height: 60px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("/Assets/ballon.png");

}

.grid-formations {
    display: grid;
    height: 100%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 2fr;
    /* border: 5px solid blue; */
    /* border: 1px solid black; */
}


.img-cadets {
    /* border: 1px solid red; */
    background-size: 100% 100%;
    /* background-repeat: no-repeat; */
    background-image: url("/Assets/Camerounmaillot.png");
}

.grid-formations-cadets-text {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    /* color: var(--color-text); */
    padding: 20px;
}

.img-kadji {
    /* border: 1px solid red; */
    background-size: 100% 100%;
    /* background-repeat: no-repeat; */
    background-image: url("/Assets/Kadji.png");
}

.grid-formations-kad-text {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    /* color: var(--color-text); */
    padding: 20px;
}


.img-hac {
    /* border: 1px solid red; */
    background-size: 100% 100%;
    /* background-repeat: no-repeat; */
    background-image: url("/Assets/Logo_Havre_AC.png");
}

.grid-formations-hac-text {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    /* color: var(--color-text); */
    padding: 20px;
}



.grid-langues {
    display: grid;
    height: 100%;
    /* height: 200px; */
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;

}


.grid-langue-francais-logo {
    height: 100px;
    width: 150px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("/Assets/Flag_France.png");
}


.grid-langue-anglais-logo {
    height: 100px;
    width: 150px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("/Assets/Flag_UK.png");
}


.grid-langue-espagnol-logo {
    height: 100px;
    width: 150px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("/Assets/Flag_Spain.png");
}