/* Global Definition */
:root {
    --bgcolor-frame-parcours-palmares: #82C288;
    --bgcolor-frame-formations-langues: #FE9C9C;
    --bgcolor-onglet: #F8E806;
    --color-text: black;
    --font: 'inter';
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* header csss */
header {
    display: flex;
    background: linear-gradient(#18391E, #01D758);
    border-top: solid;
    border-bottom: solid;
    height: 80px;
}


header img {
    height: 75px;
}


header nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

header nav ul {
    display: flex;
}

header nav ul li {
    display: flex;
    align-items: center;
    list-style-type: none;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-family: var(--font);
    margin-right: 30px;
    font-size: clamp(0.5rem, 3vw, 1.3rem);
}

header nav ul li a:hover {
    color: rgb(201, 219, 39);
    text-decoration: underline;
}

.boutton {
    margin-right: 45px;
}

/* index */
.contenu {
    width: 100%;
    height: 85vh;
    background-image: url('../Assets/couverture.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-self: flex-start;
}

.contenu h2 {
    font-size: 1.5rem;
    color: white;
    padding-left: 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 30%
}

/* footer */

footer {
    background-color: green;
    /* height: 20vh; */
    min-height: 2vh;
    /* margin: auto; */
    padding: 2 rem;
}

.frame_footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.frame_footer ul li {
    font-size: 1rem;
}

.frame_footer ul:nth-child(2) {
    display: flex;
    margin-right: 10px;
    list-style: none;
}

.frame_footer ul:nth-child(2) li {
    margin-right: 80px;
}



/*  CSS for quisuisje */

/* .debug {
    border: 1px solid red;
} */

.frame-main {
    border: 1px solid var(--bgcolor-onglet);
    height: 85vh;
    min-height: 500px;
    /* min-height: 50vh; */
}

.onglet {
    border-radius: 10px 10px 0 0;
    background-color: var(--bgcolor-onglet);
    opacity: 70%;
    font-size: 20px;
}

.frame-palmares-parcours {
    border-radius: 0px 10px 10px 10px;
    background-color: var(--bgcolor-frame-parcours-palmares);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.frame-formations-langues {
    border-radius: 0px 10px 10px 10px;
    background-color: var(--bgcolor-frame-formations-langues);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.bandeau-palmares {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.bandeau-palmares h1 {
    /* background-color: #178E23; */
    /* margin: 40px; */
    width: 100px;
    color: var(--bgcolor-onglet);
    font-size: 20px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

.bandeau-palmares> :first-child {
    display: inline-block;
    /* modèle de boîte en ligne */
    padding-right: 2em;
    /* un peu d'espace pour la transition */
    padding-left: 100%;
    /* placement à droite du conteneur */
    white-space: nowrap;
    /* pas de passage à la ligne */
    animation: defilement-rtl 30s infinite linear;
}

.bandeau-palmares :after {
    display: inline-block;
    /* modèle de boîte en ligne */
    padding-right: 2em;
    /* un peu d'espace pour la transition */
    padding-left: 100%;
    /* placement à droite du conteneur */
    white-space: nowrap;
    /* pas de passage à la ligne */
    animation: defilement-rtl 300s infinite linear;
}

@keyframes defilement-rtl {
    0% {
        transform: translate3d(0, 0, 0);
        /* position initiale à droite */
    }

    100% {
        transform: translate3d(-100%, 0, 0);
        /* position finale à gauche */
    }
}

.w-center {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.h-center {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.h-bottom {
    display: flex;
    /* justify-content: center; */
    align-items: flex-end;
}


.h-100pct {
    height: 100%;
}

.w-100pct {
    width: 100%;
}

.h-90pct {
    height: 90%;
}

.w-90pct {
    width: 90%;
}

.h-75pct {
    height: 75%;
}


.h-80pct {
    height: 80%;
}


.h-70pct {
    height: 70%;
}


.w-75pct {
    width: 75%;
}

.h-50pct {
    height: 50%;
}

.w-50pct {
    width: 50%;
}


.w-30pct {
    width: 30%;
}


.h-25pct {
    height: 25%;
}

.w-25pct {
    width: 25%;
}

.h-10pct {
    height: 10%;
}


.h-20pct {
    height: 20%;
}

.grid2r3c {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-gap: 5%; */
}


.grid3r2c {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 3fr;
    /* grid-gap: 2%; */
}

.grid3r3c {
    display: grid;
    grid-template-rows: 3fr 2fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-gap: 2%; */
}

.grid2r2c {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

p,
h1,
h2,
h3 {
    color: var(--color-text);
}

h1 {
    font-size: 18px;
}


h2 {
    font-size: 26px;
}

.img-coppaitalia {
    background-size: 100% 100%;
    height: 100px;
    width: 130px;
    background-image: url(/Assets/coppaitalia.png);
    border: 3px solid #ddd;
    border-radius: 10px;
    padding: 5px;
}

.img-coppaitalia:hover {
    border: 3px solid red;
}

.img-UAE {
    background-size: 100% 100%;
    height: 100px;
    width: 130px;
    background-image: url("/Assets/Coupe_du_monde_des_clubs_de_football_2010.png");
    border: 3px solid #ddd;
    border-radius: 10px;
    padding: 5px;
}

.img-UAE:hover {
    border: 3px solid red;
}

.img-championL {
    background-size: 100% 100%;
    height: 100px;
    width: 130px;
    background-image: url("/Assets/Cl2009_logo.png");
    border: 3px solid #ddd;
    border-radius: 10px;
    padding: 5px;
}

.img-championL:hover {
    border: 3px solid red;
}

.img-copparey {
    background-size: 100% 100%;
    height: 100px;
    width: 130px;
    background-image: url("/Assets/Logo_Copa_del_Rey_2021.png");
    border: 3px solid #ddd;
    border-radius: 10px;
    padding: 5px;
}

.img-copparey:hover {
    border: 3px solid red;
}

.img-mali {
    background-size: 100% 100%;
    height: 100px;
    width: 130px;
    background-image: url("/Assets/CANMALI.png");
    border: 3px solid #ddd;
    border-radius: 10px;
    padding: 5px;
}

.img-mali:hover {
    border: 3px solid red;
}

.img-JO {
    background-size: 100% 100%;
    height: 100px;
    width: 130px;
    background-image: url("/Assets/JO_2000.png");
    border: 3px solid #ddd;
    border-radius: 10px;
    padding: 5px;
}

.img-JO:hover {
    border: 3px solid red;
}

.img-intermilan {
    background-size: 100% 100%;
    background-image: url("/Assets/interMilan.jpeg");
    height: 100px;
    width: 130px;
    border: 3px solid #ddd;
    border-radius: 10px;
    padding: 5px;
}

.img-intermilan:hover {
    border: 3px solid red;
}

.img-fcb {
    background-size: 100% 100%;
    background-image: url("/Assets/logo-Barcelone.png");
    height: 100px;
    width: 130px;
    border: 3px solid #ddd;
    border-radius: 10px;
    padding: 5px;
}

.img-fcb:hover {
    border: 3px solid red;
}

.img-rcd {
    background-size: 100% 100%;
    background-image: url("/Assets/RCD.png");
    height: 100px;
    width: 130px;
    border: 3px solid #ddd;
    border-radius: 10px;
    padding: 5px;
}

.img-rcd:hover {
    border: 3px solid red;
}


.img-ballon {
    background-size: 100% 100%;
    /* background-repeat: no-repeat; */
    background-image: url("/Assets/ballon.png");

}

.img-cadets {
    background-size: 100% 100%;
    background-image: url("/Assets/Camerounmaillot.png");
    height: 70px;
    width: 100px;
}

.img-kadji {
    background-size: 100% 100%;
    background-image: url("/Assets/Kadji.png");
    height: 70px;
    width: 100px;
}


.img-hac {
    background-size: 100% 100%;
    background-image: url("/Assets/Logo_Havre_AC.png");
    height: 70px;
    width: 100px;
}


.img-francais {
    background-size: 100% 100%;
    background-image: url("/Assets/Flag_France.png");
    height: 80px;
    width: 120px;
    border: 3px solid #ddd;
    border-radius: 10px;
    padding: 5px;
}


.img-anglais {
    background-size: 100% 100%;
    background-image: url("/Assets/Flag_UK.png");
    height: 80px;
    width: 120px;
    border: 3px solid #ddd;
    border-radius: 10px;
    padding: 5px;
}


.img-espagnol {
    background-size: 100% 100%;
    background-image: url("/Assets/Flag_Spain.png");
    height: 80px;
    width: 120px;
    border: 3px solid #ddd;
    border-radius: 10px;
    padding: 5px;
}