* {
    box-sizing: border-box;
    margin: 0;
}

.debug {
    border: 1px solid red;
}

.debug-fill {
    background-color: red;
}

.container-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    border: 30px solid black;
    /* height: 1200px; */

}

header {
    /* width: 100%; */
    height: 100px;
    border: 2px solid red;
}


footer {
    /* width: 100%; */
    height: 50px;
    border: 2px solid red;
}

.grid-main {
    display: grid;
    grid-gap: 20px;
    margin: 20px;
    grid-template-rows: 600px 600px;
    grid-template-columns: 1fr 1fr;
}


.onglet {
    border-radius: 10px 10px 0 0;
    background-color: #F8E806;
    padding: 10px;
    text-align: center;
    width: 30%;
    /* height: 90%; */
    font-size: 20px;
    font-weight: bold;
    opacity: 70%;
}

.frame-palmares-parcours {
    border-radius: 0px 10px 10px 10px;
    /* background-color: #178E23; */
    background-color: #178E23;

    /* opacity: 25%; */
    height: 93%;
}

.frame-formations-langues {
    border-radius: 0px 10px 10px 10px;
    background-color: #FF0000;
    height: 93%;
}



.grid-main-palmares {
    /* border: 1px solid black; */
    /* overflow: hidden; */
}

.grid-palmares {
    display: grid;
    height: 80%;

    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    /* border: 5px solid blue; */
    grid-gap: 5px;
}

.grid-coppaitalia {
    background-size: 100% 100%;
    background-image: url("logo/coppaitalia.png");

}

.grid-UAE {
    background-size: 100% 100%;
    background-image: url("logo/Coupe_du_monde_des_clubs_de_football_2010.PNG");
}

.grid-championL {
    background-size: 100% 100%;
    background-image: url("logo/Cl2009_logo.png");
}

.grid-copparey {
    background-size: 100% 100%;
    background-image: url("logo/Logo_Copa_del_Rey_2021.png");
}

.grid-mali {
    background-size: 100% 100%;
    background-image: url("logo/Mali_CAN2002.gif");

}

.grid-JO {
    background-size: 100% 100%;
    background-image: url("logo/JO_2000.png");
}


.titre-palmares {
    display: flex;
    justify-content: center;
    /* margin-top: 40px; */
    overflow: hidden;
    /* margin-bottom: 100px; */
}

.titre-palmares h1 {
    /* background-color: #178E23; */
    margin: 40px;
    color: yellow;
}

.titre-palmares> :first-child {
    display: inline-block;
    /* modèle de boîte en ligne */
    padding-right: 2em;
    /* un peu d'espace pour la transition */
    padding-left: 100%;
    /* placement à droite du conteneur */
    white-space: nowrap;
    /* pas de passage à la ligne */
    animation: defilement-rtl 30s infinite linear;
}

@keyframes defilement-rtl {
    0% {
        transform: translate3d(0, 0, 0);
        /* position initiale à droite */
    }

    100% {
        transform: translate3d(-100%, 0, 0);
        /* position finale à gauche */
    }
}

/* Grid Parcours */
.grid-parcours {
    display: grid;
    height: 100%;
    grid-template-rows: 4fr 3fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    /* border: 5px solid blue; */
    grid-gap: 5px;
}


.grid-img-parcours-intermilan {
    background-size: 100% 100%;
    background-image: url("../logo/interMilan.jpeg");
}


.grid-img-parcours-fcb {
    /* border: 2px solid red; */
    /* background-size: cover; */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("../logo/logo-Barcelone.jpg");
}

.grid-img-parcours-rcd {
    /* border: 2px solid red; */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("/logo/RCD.png");
}


.grid-parcours-club {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.grid-parcours-buts {
    display: flex;
    justify-content: space-around;
    /* border: 1px solid red; */
    align-items: center;

}

.grid-parcours-buts h2 {
    color: white;
    margin-right: 30px;
}

.grid-parcours-buts-ballon {
    width: 60px;
    height: 60px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("logo/ballon.jpg");

}

.grid-formations {
    display: grid;
    height: 100%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 2fr;
    /* border: 5px solid blue; */
    /* border: 1px solid black; */
}


.grid-formations-cadets-logo {
    /* border: 1px solid red; */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("/logo/Camerounmaillot.png");
}

.grid-formations-cadets-text {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    color: black;
    padding: 20px;
}

.grid-formations-kad-logo {
    /* border: 1px solid red; */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("/logo/Kadji.png");
}

.grid-formations-kad-text {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    color: black;
    padding: 20px;
}


.grid-formations-hac-logo {
    /* border: 1px solid red; */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("/logo/Logo_Havre_AC.png");
}

.grid-formations-hac-text {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    color: black;
    padding: 20px;
}



.grid-langues {
    display: grid;
    height: 100%;
    /* height: 200px; */
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid green;
}

/* 
.debug1 {
    border: 1px solid green;
} */



.grid-langue-francais-logo {
    height: 100px;
    width: 150px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("../logo/Flag_France.png");
}


.grid-langue-anglais-logo {
    height: 100px;
    width: 150px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("../logo/Flag_UK.png");
}


.grid-langue-espagnol-logo {
    height: 100px;
    width: 150px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("../logo/Flag_Spain.png");
}